//========================>  Site Settings



//========================>  Site Colours

// House Theme

$textfont:rgb(65,65,65);
$site-lightgrey:rgb(238,238,238);
$site-darkgrey:rgb(226,226,226);
$site-footergrey:rgb(149,149,149);
$site-footer-hr:rgb(200,200,200);

$porto-blue:rgb(36,203,246);
$porto-red:rgb(252,54,59);
$porto-green:rgb(180,213,53);

// Navigation Colours
$nav-bg:rgb(246,246,246);
$nav-main:rgb(230,230,230);