//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include tb_clearfix;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include tb_hide-text;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
